		<div class="column span-13 last" id="comments">

<% @comments.each do |comment| %>			
			<div class="column span-13 first last clearfix thread_item">
				<div class="column span-9 first">
					<div class="column span-9 first last comment">
						<p class="comment_text"><%=comment.body %></p>
						<img class="tl" src="images/book_corner_tl.jpg" alt=""/>
						<img class="tr" src="images/book_corner_tr.jpg" alt=""/>
						<img class="br" src="images/book_corner_br.jpg" alt=""/>
						<img class="bl" src="images/book_corner_bl.jpg" alt=""/>
					
					</div>
			
					<div id="recommendation_1" class="reccomendation clearfix">
						<a onclick="" href="#">Recommend</a>
						<img class="br" src="images/rec_corner_br.jpg" alt=""/>
						<img class="bl" src="images/rec_corner_bl.jpg" alt=""/>
			
					</div>

						<span class="caption small grey">
						Recommended
						by <strong>457</strong> Readers</span>
						<span class="small spoiler_link">
							<a onclick="" href="#" class="red">Mark as Spoiler</a>
						</span>
			
				</div>
				<div class="column span-4 last byline">
					<p>by <%=comment.name %><br/><span class="small grey"><i>July 11, 7:14pm</i></p>
				
				</div>	
			</div>
<% end %>			

			
			
			
			<!-- PAGINATION -->


				<div id="pagination" class="column span-10 append-3 first last">
<% if @comments.previous_page != nil %>
				<%=
				link_to_remote "Prev page &rarr;",
				:url => "/comments/ViewBookComments/8?p=#{@comments.previous_page}" ,
				:classname => "pagination_link float_right"
				%>
<% end %>
<% if @comments.next_page != nil %>
				<%=
				link_to_remote "Next page &rarr;",
				:url => "/comments/ViewBookComments/8?p=#{@comments.next_page}" ,
				:classname => "pagination_link float_right"
				%>
<% end %>
</div>

</div>