<div id="comments">
	<div class="column span-12 first last" id="empty_rooms">
		<h3>Trupets! Song! You're about to be the first person to comment on this book! I bet <%=@book.author %> would love it if you started a conversation about <i><%=@book.title %></i>. Someone else will probably join in any minute now!</h3>
		<img class="tl" src="/images/book_corner_tl.jpg" alt=""/>
		<img class="tr" src="/images/book_corner_tr.jpg" alt=""/>
		<img class="br" src="/images/book_corner_br.jpg" alt=""/>
		<img class="bl" src="/images/book_corner_bl.jpg" alt=""/>

	</div>
</div>
