<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>The Rumplo Newsletter of Awesome T-shirts.</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<meta content="en-us" http-equiv="Content-Language" />

</head>

<body topmargin="0" marginwidth="0" style="margin: 0px; padding: 0px;" marginheight="0" leftmargin="0">

<div id="BodyImposter" style="background: #fff; color: #111; margin-left:auto; margin-right:auto; padding: 0px 0 0 0; width: 581px">
	
		<table cellspacing="0" id="Content" cellpadding="15" style="margin: 0px auto; text-align: left; padding: 7px 0 0px 0" width="581">		
			<tr>
				<td class="Primary" style="border-bottom: 1px dotted #ddd; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 18px; padding: 7px 0 7px 0; vertical-align: top; width: 390px;">
					<h1 style="background: none; color: #333; font-family: Helvetica, Arial, sans-serif; font-size: 25px; font-weight: bold; line-height: normal; margin: 0px; padding: 9px 0 2px 5px; text-align: left; letter-spacing: -.5px;">The Rumplo Newsletter</h1>
					<p style="margin: 0em 0em 0px 0em; font-family: Helvetica, Arial, sans-serif; font-size: 11px; line-height: 18px; padding: 12px 0 12px 7px; color: #555; text-align: left; margin: 0"><strong>In This Issue</strong>:<br/>
					<span style="float: left; display: block; padding: 3px 0 0 0px">&rarr; 10 Amazing Tees<br/>&rarr; French Prison Inmates by Dave Decat</p>
			
				</td>
				
				<td class="Primary" style="border-bottom: 1px dotted #ddd; font-family: Helvetica, Arial, sans-serif; font-size: 12px; line-height: 18px; padding: 7px 9px 7px 0; vertical-align: top; width: 189px;">
					<a href="http://rumplo.com/tees/tee/4589-anthony-burrill-vol1" style="text-decoration: underline;"><img class="main_image" src="http://rumplo.com/assets/contrib/tees/0000/4589/4589-0_189.jpg" height="189px" style="border: 0px; float: right; margin-bottom: 7px;" width="189px" alt="One of Everything"/>	
				</a></td>
			
			</tr>
			
		</table>


</body>
</html>