/* -------------------------------------------------------------- 
   
   grid.css
   * Sets up an easy-to-use grid of 24 columns.
   
   Based on work by:
   * Nathan Borror     [playgroundblues.com]
   * Jeff Croft        [jeffcroft.com]
   * Christian Metts   [mintchaos.com]
   * Khoi Vinh         [subtraction.com]
   
   By default, the grid is 950px wide, with 24 columns 
   spanning 30px, and a 10px margin between columns.
   
   If you need fewer or more columns, use this 
   formula to find the new total width: 
   Total width = (columns * 40) - 10
   
   Read more about using a grid here:
   * subtraction.com/archives/2007/0318_oh_yeeaahh.php
   
-------------------------------------------------------------- */

body { margin: 0; padding: 0; font-size: 12px; }

/* A container should group all your columns. */

.container {
  width: 980px;
  margin: 0 15px 0 15px;
  position: relative;

}

.container_centered { margin: 0 auto; }

/* Columns
-------------------------------------------------------------- */

.column {
  float: left;
  margin-right: 7px;
}

/* The first and last elements in a multi-column 
   block needs one of these classes each. */


/* Sets up basic grid floating and margin. */
div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, 
div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, 
div.span-11, div.span-12, div.span-13, div.span-14, div.span-15, 
div.span-16, div.span-17, div.span-18, div.span-19, div.span-20, 
div.span-21, div.span-22, div.span-23, div.span-24 {
  float: left;
  margin-right: 7px; 
}

div.first  { margin-left: 0; }
div.no_left { padding-left: 0;}
div.last   { margin-right: 0; }
div.no_right { padding-right: 0;}
div.clean { margin: 0; padding: 0;}

/* Use these classes to set how wide a column should be. */

.span-1  { width: 42px;}
.span-2  { width: 91px;}
.span-3  { width: 140px;}
.span-4  { width: 189px;}
.span-5  { width: 238px;}
.span-6  { width: 287px;}
.span-7  { width: 336px;}
.span-8  { width: 385px;}
.span-9  { width: 434px;}
.span-10 { width: 483px;}
.span-11 { width: 532px;}
.span-12 { width: 581px;}
.span-13 { width: 630px;}
.span-14 { width: 679px;}
.span-15 { width: 728px;}
.span-16 { width: 777px;}
.span-17 { width: 826px;}
.span-18 { width: 875px;}
.span-19 { width: 924px;}
div.span-20, .span-20 { width: 973px; margin: 0; }

/* Add these to a column to append empty cols. */
.append-1  { padding-right: 49px;}
.append-2  { padding-right: 98px;}
.append-3  { padding-right: 147px;}
.append-4  { padding-right: 196px;}
.append-5  { padding-right: 245px;}
.append-6  { padding-right: 294px;}
.append-7  { padding-right: 343px;}
.append-8  { padding-right: 392px;}
.append-9  { padding-right: 441px;}
.append-10 { padding-right: 490px;}
.append-11 { padding-right: 539px;}
.append-12 { padding-right: 588px;}
.append-13 { padding-right: 637px;}
.append-14 { padding-right: 686px;}
.append-15 { padding-right: 735px;}
.append-16 { padding-right: 784px;}
.append-17 { padding-right: 833px;}
.append-18 { padding-right: 882px;}
.append-19 { padding-right: 931px;}


/* Add these to a column to prepend empty cols. */
.prepend-1  { padding-left: 49px;}
.prepend-2  { padding-left: 98px;}
.prepend-3  { padding-left: 147px;}
.prepend-4  { padding-left: 196px;}
.prepend-5  { padding-left: 245px;}
.prepend-6  { padding-left: 294px;}
.prepend-7  { padding-left: 343px;}
.prepend-8  { padding-left: 392px;}
.prepend-9  { padding-left: 441px;}
.prepend-10 { padding-left: 490px;}
.prepend-11 { padding-left: 539px;}
.prepend-12 { padding-left: 588px;}
.prepend-13 { padding-left: 637px;}
.prepend-14 { padding-left: 686px;}
.prepend-15 { padding-left: 735px;}
.prepend-16 { padding-left: 784px;}
.prepend-17 { padding-left: 833px;}
.prepend-18 { padding-left: 882px;}
.prepend-19 { padding-left: 931px;}

/* Add these to input empty rows */
.toppend-1 { padding-top: 18px; }
.toppend-2 { padding-top: 36px; }
.toppend-3 { padding-top: 54px; }
.toppend-4 { padding-top: 72px; }

.bottomend-1 { padding-bottom: 18px; }
.bottomend-2 { padding-bottom: 36px; }
.bottomend-3 { padding-bottom: 54px; }
.bottomend-4 { padding-bottom: 72px; }
.bottomend-5 { padding-bottom: 100px; }
.bottomend-6 { padding-bottom: 128px; }


/* SAHA ADD -- float elecments left or right */

div.float_left, .float_left { float: left; }
div.float_right, .float_right { float: right;}


/* Border on right hand side of a column. */
div.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #eee;
}

/* Border with more whitespace, spans one column. */
div.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eee;
}

/* Use these classes on an element to push it into the 
   next column, or to pull it into the previous column. */

.pull-1  { margin-left: -40px; }
.pull-2  { margin-left: -80px; }
.pull-3  { margin-left: -120px; }
.pull-4  { margin-left: -160px; }

.pull-1, .pull-2, .pull-3, 
.pull-4, .pull-5, .pull-5 {
  float:left;
	position:relative;
}

.push-0  { margin: 0 0 0 18px; }
.push-1  { margin: 0 -40px 0 18px; }
.push-2  { margin: 0 -80px 0 18px; }
.push-3  { margin: 0 -120px 0 18px; }
.push-4  { margin: 0 -160px 0 18px; }
.push-0, .push-1, .push-2, .push-3, .push-4 { float: right; }

.push-0, .push-1, .push-2, 
.push-3, .push-4, .push-5 { 
  float: right;
	position:relative;
}


/* Misc classes and elements
-------------------------------------------------------------- */

/* Use a .box to create a padded box inside a column.  */ 
.box { 
  padding: 1.5em; 
  margin-bottom: 1.5em; 
  background: #eee; 
}

/* Use this to create a horizontal ruler across a column. */
hr {
  background: #ddd; 
  color: #ddd;
  clear: both; 
  float: none; 
  width: 100%; 
  height: .1em;
  margin: 0 0 1.4em;
  border: none; 
}
hr.space {
  background: #fff;
  color: #fff;
}

/* Clearing floats without extra markup
   Based on How To Clear Floats Without Structural Markup by PiE
   [http://www.positioniseverything.net/easyclearing.html] */

.clearfix:after, .container:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.clearfix, .container, .container_centered {display: inline-block;}
* html .clearfix,
* html .container {height: 1%;}
.clearfix, .container, container_centered {display: block;}

/* Regular clearing
   apply to column that should drop below previous ones. */

.clear { clear:both; }
